/* Chatbot UI Container */
.chat-container {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

/* Chat Header */
.chat-header {
    background-color: #9cab9c;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

/* Chatbot Iframe */
#iframe {
    width: 100%;
    height: 500px;
    /* Adjust the height as needed */
    border: none;
}

/* Scrollbar Styles */
#chatbot-frame::-webkit-scrollbar {
    width: 8px;
}

#chatbot-frame::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#chatbot-frame::-webkit-scrollbar-thumb {
    background: #4CAF50;
    border-radius: 10px;
}

#chatbot-frame::-webkit-scrollbar-thumb:hover {
    background: #45a049;
}